:root {
  --primary-color: #a84ecc;
  --secondary-color: #872ec2d3;
  --background-color: #000000;
  --text-color: #ffffff;
  --subtext-color: #b3b3b3;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
  overflow-x: hidden;
}

.header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px 0;
  text-align: center;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 1;
}

h1 {
  color: var(--primary-color);
  font-size: 3em;
  margin: 0;
}

.highlight {
  color: #e2be1b;
}

.background-section {
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.left-column {
  flex: 1;
  width: 45%;
  margin-right: 20px;
}

.right-column {
  width: 45%;
  flex: 1;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  .left-column,
  .right-column {
    width: 100%;
    margin: 0;
  }
}
